BOT_TOKEN=your_telegram_bot_token_here
DATABASE_URL=postgresql://username:password@ep-xxxxx.region.aws.neon.tech/dbname?sslmode=require
LOG_CHANNEL_ID=@YourLogChannelUsername
OWNER_ID=2096985880
ADMIN_IDS=2096985880,8737155576
PORT=8080
